<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Admin Dashboard</h1>
        <a th:href="@{/logout}" class="btn">Logout</a>
    </header>
    <nav>
        <ul>
            <li><a th:href="@{/admin/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/admin/employees}">Employees</a></li>
            <li><a th:href="@{/admin/timesheets}">Timesheets</a></li>
            <li><a th:href="@{/admin/payslips}">Payslips</a></li>
        </ul>
    </nav>
    <main>
        <div class="dashboard-cards">
            <div class="card">
                <h3>Employees</h3>
                <p th:text="${employeeCount}"></p>
                <a th:href="@{/admin/employees}" class="btn" >Manage</a>
            </div>
            <div class="card">
                <h3>Pending Approvals</h3>
                <p th:text="${pendingApprovals.size()}"></p>
                <a th:href="@{/admin/timesheets}" class="btn">Review</a>
            </div>
            <div class="card">
                <h3>Generate New Payslips</h3>
				<p th:text="${payslipsCount}"></p>
                <a th:href="@{/admin/generate-payslips}" class="btn">Generate</a>
            </div>
        </div>
    </main>
</body>
</html>